.doggo {
    margin: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.doggo input {
    margin-bottom: 5%;
}

.doggo img {
    width: 200px;
    height: 200px;
}

.doggo button {
    position: absolute;
    bottom: 3%;
    right: 1%;
    cursor: pointer;
}